{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="text-left pt-5 mb-3">Exercise</h3>
    <table class="table">
        <tr>
            <th scope="row">ID</th>
            <td>{{ exercise["id"] }}</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td>{{ activity.description }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ exercise["description"] }}</td>
        </tr>
        <tr>
            <th scope="row">Start date</th>
            <td>{{ exercise["start_date"] }}</td>
        </tr>
        <tr>
            <th scope="row">Start time</th>
            <td>{{ exercise["start_time"] }}</td>
        </tr>
        <tr>
            <th scope="row">End date</th>
            <td>{{ exercise["end_date"] }}</td>
        </tr>
        <tr>
            <th scope="row">End time</th>
            <td>{{ exercise["end_time"] }}</td>
        </tr>
        <tr>
            <th scope="row">External URL</th>
            <td>{{ exercise["external_url"] }}</td>
        </tr>
    </table>
    <div class="pt-2">        
        <a href="/exercise/{{ exercise.id }}/edit" class="btn btn-secondary">Edit exercise</a>
        <button class="btn btn-danger" onclick="confirmDelete({{ exercise.id }})">Delete</button>
        <a href="/exercises/{{ current_user.id }}" class="btn btn-primary">Back to list</a>
    </div>
</div>


<script>
function confirmDelete(exerciseId) {
    if (!confirm("Are you sure you want to delete this exercise session?\nThis operation CANNOT be reversed"))
        return;

    var xhr = new XMLHttpRequest();
    xhr.open("DELETE", "/exercise/" + exerciseId, true);
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")

    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            window.location.replace("/exercises/{{ current_user.id }}")
        }
    }

    xhr.send();
}
</script>

{% endblock %}


