{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="text-center pt-5">Record a new exercise</h3>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ exercise.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Activity</th>
                        <td>{{ activity.description }}</td>
                    </tr>
                </table>   
                {{ wtf.quick_form(form, button_map = {"cancel":"secondary", "submit": "primary"}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}