{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="text-left pt-5 mb-3">Activity</h3>
    <table class="table">
        <tr>
            <th scope="row">ID</th>
            <td>{{ activity["id"] }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ activity["description"] }}</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td>{{ activity_types[activity["activity_type"]] }}</td>
        </tr>
    </table>
    {% if activity["activity_type"] == 2 %}
    <h4 class="pt-2">Subactivities defined</h4>
    <table class="table">
        {% for subactivity in subactivities %}
            <tr>
                <td>{{ subactivity["description"] }}</td>
                <td><a href="/activity/{{ activity.id }}/subactivity/{{ subactivity['id'] }}/edit">Edit</a>
            </tr>
        {% endfor %}
    </table>
    <a href="/activity/{{ activity.id }}/subactivity" class="btn btn-secondary">Add a subactivity</a>
    {% endif %}
    <div class="pt-2">        
        <a href="/activity/{{ activity.id }}/edit" class="btn btn-secondary">Edit activity</a>
        <a href="/activities" class="btn btn-primary">Back to list</a>
    </div>
</div>
{% endblock %}
