{% extends "base.html" %}

{% block content %}
<header class="jumbotron jumbotron-fluid vertical-center">
    <div class="container-fluid text-center"> 
       <h1 class="text-light">The Best Solution for Tracking Your Exercise</h1>
       <p class="text-light">We help you maximize your performance and become a healthier you</p>
       <p>
        <a href="{{ url_for('auth.signup') }}" class="btn btn-primary btn-lg" role="button">Sign up</a>
        <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-lg" role="button">Login</a>
        </p>
    </div>
</header>
{% endblock %}